.main_inner{
    background: #972421;
}
.main_image_pic{
    margin-top: -4px;
}
.main_image{
    width: 100%;
    height: 100%;
    background: #972421;
}
.main_image .main_image_pic0{
    /*position: relative;*/
    margin: 0 auto;
    background: url(../img/festival/inner/inner1.jpg)no-repeat center;
    -webkit-background-size: 1920px 1000px;
    background-size: 1920px 1000px;
    height: 755px;
}
.main_image .main_image_pic img{
    width: 100%;
    margin-top: -4px;
}
.main_inner .main_image .main_image_pic{
    /*position: relative;*/
    margin: 0 auto;
    width: 1919px;
    /*height: 1000px;*/
    height: 100%;

    background: #D62708;
}

.main_image2{
    width: 100%;
    height: 4000px;
    /*background: #972421;*/
    /*background: url(../img/festival/new.jpg) no-repeat;*/
}

/*.main_image2 .main_image_pic{*/
    /*width: 100%;*/
    /*height: 4000px;*/
    /*!*background: #972421;*!*/
    /*background: url(../img/festival/new.jpg) no-repeat;*/
/*}*/
.main_image2 .main_image_pic .main_image_inner{
    position: relative;
    top: 66px;
    margin: 0 auto;
    width: 990px;
    height: 690px;
    overflow: hidden;
    /*background: yellowgreen;*/
}
/******************标题栏*************************/
.main_image2 .main_image_pic .main_image_tit{
    width: 992px;
    height: 70px;
    /*background: blue;*/
}
.main_image2 .main_image_pic .image_tit_txt{
    width: 248px;
    height: 70px;
    float: left;
    background: #4E4E4E;

}
.main_image_pic .image_tit_txt a{
    display: block;
    position: absolute;
    z-index: 1;
    width: 248px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    /*vertical-align: middle;*/

}
/***************内容栏***********************/

.main_image2 .main_image_pic .inner_list{
    position: relative;
    margin-right: -10px;
    /*padding-bottom: 30px;*/
}
.main_image2 .main_image_pic .inner_item{
    position: relative;
    width: 240px;
    height: 300px;
    float: left;
    background: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main_image_pic .inner_picture{
    width:160px;
    height: 160px;
    margin: 0 auto  ;
    display: block;
    padding-top: 30px;
}
.main_image_pic .inner_info{
    padding: 0 10px;
}
.main_image_pic .info_label{
    overflow: hidden;
}
.main_image_pic .gift{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 0;
}
.main_image_pic .info_title{
    width: 100%;
    height: 37px;
    line-height: 18px;
    color: #666666;
    margin-top: 2px;
    display: block;
    overflow: hidden;
}
.main_image_pic .inner_price{
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 7px;
    color: red;
}
.main_image_pic .inner_buy{
    background: url(../img/festival/shopcart.png) no-repeat;
    float: right;
    width: 45px;
    height: 40px;
    text-indent: -1px;
}

/*标题栏移动*/
.move_box{
    width: 248px;
    height:70px;
    /*border: 1px solid red;*/
    border-bottom: 1px solid #f2aa0e;
    position: absolute;
    background: #972421;
    top: 0;
    left: 0;

}

/*********************main_image*******************/
.main_image2 .main_image2_box{
    background: url(../img/festival/new.jpg) center 0 no-repeat;
    height: 2000px;
}
.main_image2 .main_image_pic1{
    position: relative;
    top: -1189px;
    height: 220px;
    background: url(../img/festival/new2.png) center 0 no-repeat;
    background-size: 1166px 280px;

}
.main_image2 .main_image_pic1 .main_image_list{
    margin: 0 auto;
    position: relative;
    top: 99px;
    width: 1000px;
    height: 500px;
    border: 1px solid #000000;
}












































































































