.content{
    width: 100%;
    height: 200px;
    background: #DCE3E9;
    /*background: url(../img/bk-hearder.jpg) scroll;*/

}

.content img {
    width: 200px;
    position: relative;
    left: 368px;
}
/************footer****************/
.footer{
    width: 100%;
    height: 200px;
    background: #F3DCC9;
}
.menu_con{
    width: 100%;
    height: 40px;
    background: #D9271D;
}
.menu_txt{
    margin: 0 auto ;
    width: 1200px;
    height: 40px;
}
.nav_li_a{
    display: inline;
    overflow: hidden;
    color: #fff;
    height: 40px;
    text-decoration: none;
    line-height: 40px;

}
/*allproduct*/
.nav_list{
    width: 200px;
    height: 40px;
    font: 16px/40px "microsoft yahei";
    color: #fff;
    float: left;
    padding-left: 32px;
    margin-right: 2px;
    background: url(../img/tag_on.jpg) 212px 14px no-repeat #c51212;
    box-shadow: 2px -1px 3px rgba(55,55,55,.5);

}
.nav_list:hover{
    background: red;
    background-image: url(../img/nav_li_hover.jpg);
    background-position:  210px 16px;
    background-repeat:  no-repeat;

}
/************************middlenav********************/
.nav_ul{
    overflow: hidden;
    width: 750px;
    height: 40px;

}
.nav_li{
    width: 90px;
    height: 40px;
    overflow: hidden;
    font: 16px/40px "microsoft yahei";
    color: #fff;
    float: left;
    margin-right: 1px;
    text-align: center;
}
.nav_li:hover{
    background: red;
}
.nav_li_a{
    display: inline;
    overflow: hidden;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
/***********************leftnav*********************/
.nav_item{
    width: 216px;
    height: 40px;
    color: #fff;
    background: blue;
    line-height: 40px;
    text-align: right;
    cursor: default;

}
.nav_item .gys{
    width: 94px;
    cursor: pointer;
    padding-left: 14px;
    background: url(../img/gys.jpg) 0 0  no-repeat;

}
.nav_item .fxs{
    width: 94px;
    padding-left: 14px;
    cursor: pointer;
    background: url(../img/fxs.jpg) 0 0  no-repeat;

}
.nav_i_li{
    height: 40px;
    font: 16px/40px "microsoft yahei";
    color: #fff;
    overflow: hidden;
    text-align: center;


}
/****************f_col1************************/
.f_col1{
    position: relative;
    z-index: 2;
    display: none;
    float:left;
    height:475px;
    width: 233px;
    top: -4px;
    left: -32px;
    background:#6E6568;
}
.f_col1 .f_col1_cate {
    position: absolute;
    width:233px;
    height: 475px;
    z-index: 999;

}
/***************左边栏左边触发栏*************************/
.f_col1 .cate_menu{
    width:192px;
    height:25px;
    line-height:25px;
    margin-top:10px;
}
.f_col1 .cate_menu li{
    cursor: pointer;
}
.f_col1 .cate_menu li.active{
    width:212px;
    position: relative;
    z-index: 999;
    border-right:none;
    background: #999395;
}

/*********************左边栏下拉列表设置**************************/
.f_col1 .cate_pop{
    position: absolute;
    height:472px;
    width:1000px;
    z-index:22;
    top:0px;
    left:233px;
    border:1px solid #f7f7f7;
    display:none;
}
.f_col1 .cate_pop.active{
    display: block;
}
.f_col1 .cate_pop.active .cate_part{
    position:absolute;
    width:1000px;
    z-index:997;
    padding-top:5px;
    min-height:394px;
    background:#fff;
}

.cate_part{
    display: none;
    position:absolute;
    height:472px;
    width:1030px;
    left:0px;
    top:0;
    border:1px solid #fff;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.cate_pop.active .cate_part .cate_part_col1 div a:hover{
   
    text-decoration: underline;
}
/*左边栏内容设置*/
.f_col1_cate .cate_menu_item{
    height:28px;
    line-height:28px;
    font-size:14px;
    padding-left:20px;
    overflow: hidden;

}
.f_col1_cate .cate_menu span{
    color:#fff;
}
.f_col1_cate .cate_menu a{
    color:#fff;
}
.f_col1_cate .cate_menu a:hover{
    color: red;
}
/********************slider********************/
.m_content{
    width: 100%;
    height: 475px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #C6E6FF;
}
.m_content .m_slider{
    width: 1200px;
    height: 445px;
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: 0;
    margin: auto;
    margin-left: -600px;

}
.m_left{
    width: 260px;
    height: 440px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 3px 3px 3px -2px rgba(55,55,55,0.4);
    float: left;
}
/*******************floor**********************/
.floor{
    width: 100%;
    height: 38px;
    z-index: 15;
    /*margin: 0 auto 15px;*/
}
.floor .floor_con{
    width: 100%;
    height: 38px;
    z-index: 100;
}
.floor .floor_con .floor_mark{
    width: 1200px;
    height: 38px;
    margin: auto;
    background: #D9271D;
}
.floor_inner{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
    background: #fff;
}
/************************hot******************************/
.hot{
    width: 1200px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;


}
.hot_title{
    width: 1200px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-bottom: 12px;
    border-bottom: 2px solid #d9271d;
}
.hot_title .title{
    width: 600px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    float: left;
    margin-left: 15px;
    color: #666;
    border-bottom: 2px solid #d9271d;
    font-family: "microsoft yahei";
    font-size: 20px;
    font-weight: 400;
}
.hot_title .more{
    width: 600px;
    height: 18px;
    overflow: hidden;
    float: left;
    line-height: 18px;
    text-align: right;
    padding-top: 16px;
    padding-bottom: 6px;
    font-family: "\5b8b\4f53";
}
.hot_title .hot_inner{
    width: 1200px;
    height: auto;
    overflow: hidden;
    float: left;
}
.hot_title .hot_inner .hot_con{
    width: 1212px;
    height: auto;
    overflow: hidden;
    float: left;
}
.hot_inner .hot_con .hot_li{
    width: 286px;
    height: 395px;
    float: left;
    background: #fff;
    border: 1px solid #eee;
    margin: 0 12px 12px 0px;
    transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
}
.hot_inner .hot_con .hot_li:hover{
    border: 1px solid #F4DE07;
    -webkit-box-shadow: 3px 3px 3px #F4DE07;
    -moz-box-shadow: 3px 3px 3px #F4DE07;
    box-shadow: 3px 3px 3px #F4DE07;
}
.hot_tit{
    width: 268px;
    height: 40px;
    line-height: 20px;
    font-size: 13px;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #555;
    font-family: "Microsoft YaHei";

}
.hot_price{
    position: relative;
    width: 266px;
    height: 48px;
    overflow: hidden;
    padding: 4px 10px 0px;
    border-top: 1px dashed #F3DCC9;
}
.hot_price_buy {
    display: none;
}
.hot_price_tit{
    width: 180px;
    height: 39px;
    margin-right: 4px;
    overflow: hidden;
    color:#D9271D ;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.hot_price_tit .price_tit_icon{
    font-size: 14px;
    line-height: 40px;
    vertical-align: super;
}
.hot_price_tit .price_tit_num{
    font-size: 26px;
    font-weight: bold;
    vertical-align: super;
}
.price_tit_sale{
    display: inline-block;
}
.price_sale_after{
    text-decoration: line-through;
    font-size: 14px;
}
.hot_price_num{
    width: 82px;
    height: 39px;
    overflow: hidden;
    color: #666;
    text-align: right;
}
/**************************floor1***********************************/
.floor1{
    width: 1200px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-bottom: 15px;
}
.floor1_title{
    width: 1200px;
    height: auto;
    overflow: hidden;
    float: left;
}
.floor1_title .floor1_tit{
    width: 560px;
    height: 40px;
    overflow: hidden;
    float: left;
    color: #666;
    margin-left: 13px;
    font-family: "microsoft yahei";
    font-size: 20px;
    font-weight: 400;

}
.floor1_title .floor1_num{
    width: 35px;
    height: 40px;
    overflow: hidden;
    float: left;
    color: #666;
    font-family: "microsoft yahei";
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}
.floor1_title .floor1_txt{
    width: auto;
    height: 40px;
    padding-right: 10px;
    overflow: hidden;
    color: #666;
    float: left;
    font-family: "microsoft yahei";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.floor1_title .floor1_tag{
    width: 83px;
    height: 40px;
    overflow: hidden;
    float: left;
    background: url(../img/floor_tuijian.jpg) 0 10px scroll no-repeat;
}
.floor1_title .floor1_more{
    width: 600px;
    height: 18px;
    overflow: hidden;
    float: left;
    line-height: 18px;
    text-align: right;
    padding-top: 16px;
    padding-bottom: 6px;
    font-family: "\5b8b\4f53";
}
.floor1_title .floor1_more a {
    color: #666;
    text-decoration: none;
}
.floor1 .floor1_inner{
    width: 1198px;
    height: auto;
    overflow: hidden;
    float: left;
    border: 1px solid #eee;

}
.floor1 .floor1_con{
    width: 1200px;
    height: auto;
    overflow: hidden;
    float: left;
    padding: 15px 0;
}
.floor1 .floor1_con .floor1_li{
    width: 199px;
    height: 290px;
    overflow: hidden;
    float: left;
    border-right: 1px solid #eee;
}

.floor1_li_content{
    width: 195px;
    height: 290px;
    overflow: hidden;
    border: 2px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.floor1 .floor1_con .floor1_li_content:hover{
    transform:translate(0,-10px);
    -webkit-transform:translate(0,-10px);
    -moz-transform:translate(0,-10px);
    -o-transform:translate(0,-10px);
    -ms-transform:translate(0,-10px);
    -webkit-box-shadow:0px 5px 15px #e5e5e5;
    -moz-box-shadow:0px 5px 15px #e5e5e5;
    box-shadow:0px 5px 15px #e5e5e5;
}
.content_pic{
    width: 195px;
    height: 208px;
    margin-bottom: 5px ;
    overflow: hidden;
}
.content_pic img{
    position: relative;
    top: 20px;
}
.content_det{
    width: 175px;
    height: 36px;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 5px;
}
.content_det a{
    color: #666;
}

.content_det span{
    color: red;
    padding-left: 2px;
}
.content_pri{
    width: 181px;
    height: 36px;
    overflow: hidden;
    padding: 0 7px;
}
.content_pri_num{
    width: 106px;
    height: 36px;
    overflow: hidden;
}
.content_pri_tit{
    width: 75px;
    height: 36px;
    overflow: hidden;
    text-align: right;
    color: #666666;
}
.content_pri_tit img{
    width: 37px;
    height: 30px;
    position: relative;
    left: -12px;
}
.pri_num_icon{
    color: red;
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}
.pri_num_n{
    color:red;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}
.content_pri_tit{
    width: 75px;
    height: 36px;
    color: #666;
    text-align: right;
    overflow: hidden;
}
/*******************middle*******************/
.m_middle{
    width: 718px;
    height: 440px;
    overflow: hidden;
    float: left;
    background: #fff;
    margin-right: 10px;
}

/*******************slider***************/
.middle_slider{
    width: 718px;
    height: 340px;
    overflow: hidden;
    float: left;
}
.slide_show{
    width: 718px;
    height: 340px;
    position: relative;
    overflow: hidden;
    float: left;
}
.f_slider_list{
    position: relative;
    width: 718px;
    height: 100%;
    overflow: hidden;
    left: 0;
    font-size: 0;
    letter-spacing: -3px;
}
.f_slider_list>li{
    float: left;
    width: 718px;
    overflow: hidden;

}
/****************img************************/
.middle_image{
    width: 718px;
    height: 100px;
    overflow: hidden;
    border-top: 1px solid #eee;
    float: left;
}
/******************指示器外尺寸设置*******************/
.slide_show .f_slider_indicator{
    position: absolute;
    left:50%;
    bottom:20px;
    margin-left: -91px;
    font-size:0;
    padding:4px 8px;
    border-radius:12px;
    background-color: hsla(0,0%,100%,.3);
}
.slide_show .f_slider_indicator li:hover,.slide_show .f_slider_indicator li.hover{
    background: yellowgreen;
}
/*指示器设置*/
.slide_show .slider_indicator_btn{
    display: inline-block;
    margin-right:10px;
    width:12px;
    height:12px;
    border-radius:100%;
    background: #fff;
}
.slider_indicator_btn a {
    display: block;
    padding-top: 12px;
    width: 12px;
    height: 0;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
}
/**/
.middle_image {
    width: 718px;
    height: 100px;
    overflow: hidden;
    border-top: 1px solid #eee;
    float: left;
}
.middle_img_inner{
    width: 720px;
    height: 100px;
    overflow: hidden;
    float: left;
}
.img_sm {
    width: 239px;
    height: 100px;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid #eee;
    float: left;
}
/***************************按钮通用属性*********************/
.slider_control_prev{
    left:0;
}
.slider_control_next{
    right:0;
}
.slider_control_item{
    /*display: none;*/
    position: absolute;
    /*z-index:21;*/
    top:50%;
    margin-top:-30px;
    width:30px;
    height:50px;
    background-color:rgba(0,0,0,.2) ;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}

.slider_control_item:hover{
    background-color:rgba(0,0,0,.5) ;
}

.slider_control_item .iconfont{
    font-family:iconfont;
    font-style: normal;
    background: url("../img/control1.png")no-repeat;
    width: 40px;
    height: 60px;
    cursor: pointer;
    display: block;
}
.slider_control_item .iconfont_left{
    background-position: -5px 4px;
}
.slider_control_item .iconfont_right{
    background-position: -55px 4px;
}
/*************right**********************/
.m_right{
    width: 200px;
    height: 440px;
    overflow: hidden;

    background: #fff;
    box-shadow: 3px 3px 3px -2px rgba(55,55,55,0.4);
    float: left;
}
.shop_tit{
    width: 185px;
    height: 71px;
    overflow: hidden;
    margin-left:5px ;
    margin-bottom: 5px;
    background: url(../img/ruizhi1.png) 0 0 scroll no-repeat;
    float: left;
}
.shop_details {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
}
/**/
.shop_details .det_li {
    width: 160px;
    height: auto;
    padding: 0 15px 0 25px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 20px;
    float: left;
}
.det_item {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

}
.det_tit {
    font-size: 15px;
    float: left;
}
.det_txt{
    font-size: 15px;
}
.shop_intro{
    width: 180px;
    height: auto;
    overflow: hidden;
    float: left;
    text-align: right;
    margin: 0 10px 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;

}
.shop_intro a{
    font-size: 14px;
}
.shop_ac{
    width: 200px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}
.shop_ac .shop_ac_li.approve_bzj {
    height: 24px;
    background: url(../img/approve.png) no-repeat;
    background-position: 19px -48px;
    margin-bottom: 9px;
}
.shop_ac .shop_ac_li.approve_cx {
    height: 24px;

    background: url(../img/approve.png) no-repeat;
    background-position: 19px -78px;
    margin-bottom: 9px;
}
.shop_ac .shop_ac_li.approve_sh {
    height: 24px;

    background: url(../img/approve.png) no-repeat;
    background-position: 19px -108px;
    margin-bottom: 9px;
}
.shop_ac .det_tit {
    width: 55px;
    height: auto;
    line-height: 20px;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
}
.shop_ac .det_txt {
    color: #969696;
    height: auto;
    overflow: hidden;
    float: left;
    text-align: left;
    padding-left: 5px;
    word-break: break-all;
}
.shop_ac .shop_ac_li{
    width: 165px;
    height: auto;
    overflow: hidden;
    float: left;
    padding: 0 15px 0 20px;
    margin-bottom: 10px;
    line-height: 20px;

}
.shop_line {
    width: 180px;
    height: auto;
    overflow: hidden;
    float: left;
    text-align: right;
    margin: 0 10px 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.shop_date{
    width: 115px;
    height: 32px;
    overflow: hidden;
    color: #3c3c3c;
    float: left;
    padding-left: 85px;
    padding-top: 8px;
    background: url(../img/sj_sfc.jpg) 28px 8px scroll no-repeat;
    line-height: 16px;
}

/**********************************floor***************************/
.floor_mark .floor_classify{
    position: relative;
    width: 180px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    background: url(../img/all.png) 174px 11px no-repeat;

}
.floor_mark .floor_classify:hover{
    background:red;
    background-image: url(../img/all.png);
    background-position:  174px 11px ;
    background-repeat: no-repeat;
}
.floor_classify .f_c_content{
    position: relative;
    width: 1198px;
    height: 200px;
    left: -11px;
    display: none;
    border: 1px solid red;
    background: #fff;
}
.floor_classify .f_c_content .f_c_case{
    margin: 20px;
}
.floor_mark .floor_classify .f_c_content .f_c_i {
    width: 260px;
    margin-right: 28px;
    border-bottom: 1px solid #A9B9CA;
}
.floor_classify .f_c_content .f_c_i a:hover{
    color: red;
}
.floor_mark .floor_classify .f_c_content .f_c_i .c_i_tit{
    display: block;
    width: 260px;
    height: 30px;
    color: #D82221;
    line-height: 30px;
    font-size: 14px;
}
.floor_classify  .f_c_content .f_c_i .c_i_txt{
    width: 260px;
    height: 30px;
    color: #666;
    line-height: 30px;
    font-size: 14px;
    padding-right: 5px;
}
/*****************************floor***************************/
.floor_mark .floor_inner1 a{
    width: 100px;
    height: 38px;
    float: left;
    color: #FFFFFF;
    background: red;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid red;
    cursor: pointer;
}

.floor_mark .floor_inner2 a{
    width: 100px;
    height: 38px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.floor_mark .floor_inner2:hover{
    background: red;
}
/********************cate_part************************/
.cate_pop .cate_part_col1 .cate_channel a{
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    background: #000;
    margin-right: 10px;
    padding: 6px 20px 0px 22px;
}
.cate_channel_lk i{
    position: absolute;
    display: block;
    width: 30px;
    height: 15px;
    top: 18px;
    z-index: 50;
    left: 68px;
    background: url(../img/arrow2.jpg) no-repeat 21px;
    cursor: pointer;
}
.cate_part_col1 .cate_channel_lk .channel_lk2{
    left: 188px;
}
.cate_part_col1 .cate_channel_lk .channel_lk3{
    left: 296px;
}
.cate_part_col1 .cate_channel_lk .channel_lk4{
    left: 418px;
}
.cate_part_col1 .cate_channel_lk .channel_lk5{
    left: 526px;
}
.cate_part_col1 .cate_channel_lk .channel_lk6{
    left: 632px;
}
.cate_part_col1{
    width: 800px;
}
.cate_part_col2{
    width: 198px;
    height: 415px;
    border: 1px solid red ;
}
.cate_channel{
    overflow: hidden;
    padding-left: 20px;
    height: 30px;
}
.cate_detail{
    overflow: hidden;
    padding: 10px 0 0 20px;
}
.cate_detail .cate_detail_item{
    float: left;
    position: relative;
    padding-left: 80px;
    margin-top: 16px;
}
.cate_detail_tit{
    position: absolute;
    width: 70px;
    left: 0px;
    top: -8px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.detail_tit_inn{
    width: 50px;
    height:auto;
}
.cate_detail_tit_lk i{
    position: absolute;
    display: block;
    left: 40px;
    width: 30px;
    height: 15px;
    top: 13px;
    z-index: 50;
    cursor: pointer;
    background: url(../img/arrow1.jpg) no-repeat 21px;

}
.cate_detail_tit a{
    color: #666;
    font-size: 13px;
}
.cate_detail_con{
    border-top: none;
    cursor: pointer;
}
.cate_detail_con a{
    height: 16px;
    line-height: 16px;
    float: left;
    color: #000;
    font-size: 13px;
    white-space: nowrap;
    margin: 4px 0;
    padding: 0 10px;
    border-left: 1px solid #e0e0e0;
}


